.button {
  background: $black;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px;
  white-space: nowrap;
  outline: none;
  border: 0;
  transition: all .2s;
  min-height: 42px;
  border: 2px solid $black;
  text-decoration: none;
  &:hover {
      background-color: $primary;
      border-color: transparent;
      text-decoration: none;
  }
  &:active {
      border-color: $black;
  }
  &.inverse {
      background: #FFFFFF;
      color: $black;
      &:hover {
          color: #FFFFFF;
          background-color: $black;
      }
  }
}
