<!doctype html>
<html lang="en">
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link rel="stylesheet" href="{{ "assets/css/reset.css" | relURL }}">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        
    </head>
    <body>
        
        {{ partial "header.html" . }}
        <div class="wrapper">
          <div class="container">
            {{ block "content" . }}{{ end }}
          </div>
        </div>
        {{ partial "footer.html" . }}
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
